.title{
    display: block;
    margin: 0 auto;
    width: 92%;
}
.title_header{
    font-size: 0.4rem;
    color: #333333;
    margin-bottom: 0.24rem;
}
input{
    font-size: 0.4rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
    height: 0.8rem;
}
