html:not([data-scale]) .am-list-body::before,
html:not([data-scale]) .am-list-body::after{
  height: 0;
}

:global(.am-list-item){
  border: 1px solid lightskyblue;
}

.submit{
  padding: 0 1.2rem;
  left: 50%;
  transform: translateX(-50%);
}

.surveyError{
  font-size: 0.36rem;
  line-height: 1.8;
  color: red;
}

.dashed{
  height: 0;
  padding: 0.3rem 0;
  border-top: 1px dashed darkgray;
}

.survey {
  padding: 0.8rem 0.3rem 0.3rem 0.3rem;
}

.survey_logo{
  text-align: center;
}

.survey_logo img{
  width: 0.5rem;
}

.survey_support{
  font-size: 0.35rem;
  display: inline-block;
  vertical-align: middle;
  text-indent: 0.5em;
}

.survey_title {
  font-size: 0.5rem;
  line-height: 2;
  color: rgb(59, 59, 59);
}

.survey_container {
  font-size: 0.36rem;
  color: rgb(82, 84, 105);
  letter-spacing: 1px;
  line-height: 1.4;
  padding: 0.5rem 0;
  border-bottom: 3px solid rgb(68, 144, 240);
}

.survey_noUnit {
  font-size: 0.35rem;
  /*color: rgb(82, 84, 105);*/
  height: 1.5rem;
  padding-top: 0.8rem;
}

.survey_noUnit span{
  color: #000;
  text-decoration: underline;
  font-weight: bold;
}

.info_title {
  font-size: 0.45rem;
  /*color: rgb(82, 84, 105);*/
  letter-spacing: 1px;
  line-height: 1.4;
  padding: 0.5rem 0;
}

.info_content {
  font-size: 0.37rem;
  line-height: 2.4;
  /*color: rgb(82, 84, 105);*/
  letter-spacing: 1px;
}

.info_content i{
  font-size: 0.35rem;
  color: gray;
}

.info_content span{
  color: red;
}

.dsa_id{
  font-size: 0.36rem;
  line-height: 2.5;
}

.dsa_title{
  font-size: 0.3rem;
  color: darkgray;
  line-height: 2.2;
}