html:not([data-scale]) .am-list-body::before,
html:not([data-scale]) .am-list-body::after{
  height: 0;
}

.am-list-item,
.am-list-item.am-input-item{
  border: 1px solid lightskyblue;
}

/*.am-list {*/
  /*padding: 0.5rem 0;*/
/*}*/

.survey {
  padding: 0.8rem 0.3rem;
}

.survey_title {
  font-size: 0.5rem;
  line-height: 2;
  color: rgb(59, 59, 59);
}

.survey_container {
  font-size: 0.36rem;
  color: rgb(82, 84, 105);
  letter-spacing: 1px;
  line-height: 1.4;
  padding: 0.5rem 0;
  border-bottom: 3px solid rgb(68, 144, 240);
}

.survey_noUnit {
  font-size: 0.36rem;
  /*color: rgb(82, 84, 105);*/
  line-height: 5;
}

.survey_noUnit span{
  color: #000;
  text-decoration: underline;
  font-weight: bold;
}

.info_title {
  font-size: 0.36rem;
  /*color: rgb(82, 84, 105);*/
  letter-spacing: 1px;
  line-height: 1.4;
  padding: 0.5rem 0;
}

.info_content {
  font-size: 0.45rem;
  line-height: 2.4;
  /*color: rgb(82, 84, 105);*/
  letter-spacing: 1px;
}

.info_content span{
  color: red;
}