.explain{
    width: 92%;
    height: 4.5rem;
    font-size: 0.32rem;
    color: #666666;
    letter-spacing: 0;
    line-height: 0.45rem;
    margin: 0.64rem auto 0;
    text-indent: 2em;
}
.unit{
    width: 92%;
    height: 1.35rem;
    margin: 1.31rem auto 0;
}
.unit p{
    font-size: 0.28rem;
    color: #2A2A2A;
    letter-spacing: 0;
    line-height: 0.45rem;
}